@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

%flexbox {
   display: flex;
   align-items: center;
}

%common_title {
   font-weight: 700;
   font-size: 28px;
   line-height: 38px;
   letter-spacing: 2px;
   text-transform: uppercase;
   margin-bottom: 32px;
}

%orng_btn {
   width: 160px;
   height: 48px;
   background-color: $orng;
   transition: background .7s ease-in;

   a {
      font-weight: 700;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $w;
   }

   &:hover {
      background: #FBAF85;
   }
}



%products_title {
   font-weight: 700;
   font-size: 40px;
   line-height: 44px;
   letter-spacing: 1.42857px;
   text-transform: uppercase;
   color: #000000;
   margin-bottom: 32px;
}

%products_txt {
   font-weight: 500;
   font-size: 15px;
   line-height: 25px;
   color: #000000;
   opacity: 0.5;
   margin-bottom: 40px;
}

%products_undertitle {
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   letter-spacing: 10px;
   text-transform: uppercase;
   color: #D87D4A !important;
   margin-bottom: 16px;
}

%common_btn {
   width: 160px;
   height: 48px;
   border: 1px solid #000;
   background-color: transparent;
   transition: all .4s ease-in;

   a {
      font-weight: 700;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #000;
      transition: all .4s ease-in;
   }
}



.wrapper {
   max-width: 1440px;
   margin: 0 auto;
   font-family: "Manrope", sans-serif;
}

.container {
   max-width: 1130px;
   padding-left: 10px;
   padding-right: 10px;
   margin: 0 auto;
}



.header {
   &__topline {
      @extend %flexbox;
      padding-bottom: 36px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      margin-bottom: 128px;
      gap: 197px;
      position: relative;

      &>div {
         display: none;
      }



   }

   &__list {
      display: flex;
      gap: 34px;

      li a {
         font-weight: 700;
         font-size: 13px;
         line-height: 25px;
         letter-spacing: 2px;
         text-transform: uppercase;
         color: $w;
         transition: color .7s ease-in;
      }

      li a:hover {
         color: $orng;
      }
   }
}

.drop {

   &__menu {
      display: none;
      align-items: center;
      position: absolute;
      z-index: 2;
      top: 54px;
      left: -39px;
      width: 768px;
      height: 340px;
      background: $w;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;


      &-inner {
         display: flex;
         gap: 10px;

      }


      &-card {
         @extend %flexbox;
         flex-direction: column;
         width: 223px;
         height: 165px;
         padding-top: 42px;
         background: #f1f1f1;
         border-radius: 8px;
         position: relative;
         cursor: pointer;
         transition: all .3s ease-in;

         img {
            position: absolute;
            top: 0;
            transform: translateY(-50%);
         }

         div {
            width: 122px;
            height: 18px;
            background: #000;
            filter: blur(21.7463px);
            margin-bottom: 33px;
         }

         h3 {
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 1.28571px;
            text-transform: uppercase;
            margin-bottom: 15px;
         }

         a {
            font-weight: 700;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #000;
            opacity: 0.5;
            padding-right: 18px;
            position: relative;
            transition: all .3s ease-in;
         }

         a::before {
            content: "";
            width: 8px;
            height: 12px;
            position: absolute;
            background-image: url(../images/icons/arrow.svg);
            background-repeat: no-repeat;
            top: 3px;
            right: 0;
         }

         &:hover {
            background: #c1c1c1;

            a {
               color: $orng;
            }
         }
      }

      &-card:nth-child(1) {
         img {
            width: 80px;
         }
      }

      &-card:nth-child(2) {
         img {
            width: 84px;
         }
      }

      &-card:nth-child(3) {
         img {
            width: 103px;
         }
      }
   }
}





.drop__dowm-cart {
   margin-left: auto;
}

// .drop__dowm-cart:hover .cart {
//    display: block;
// }


.xx99mark2,
.xx99mark1,
.xx59,
.zx9,
.zx7,
.yx1 {
   margin-bottom: 160px;

   &__inner {
      @extend %flexbox;
      gap: 125px;

      &-bg {
         width: 540px;
         height: 560px;
         border-radius: 8px;
      }

      &-card {
         width: 445px;

         h3 {
            @extend %products_title;
         }

         p {
            @extend %products_txt;
         }

         button {
            @extend %orng_btn;
         }
      }

      &-undertitle {
         @extend %products_undertitle;
      }
   }
}

/* ----------------------------------- FOOTER PART ------------------------- */


.footer {
   background-color: #000;
   padding: 75px 0 48px;
   position: relative;

   &__inner {}

   &__line {
      width: 101px;
      height: 4px;
      background-color: $orng;
      position: absolute;
      top: 0;
   }

   &__nav {
      @extend %flexbox;
      justify-content: space-between;
      margin-bottom: 36px;
   }

   &__menu {
      display: flex;
      gap: 34px;

      li a {
         font-weight: 700;
         font-size: 13px;
         line-height: 25px;
         letter-spacing: 2px;
         text-transform: uppercase;
         color: $w;
         transition: color .7s ease-in;

         &:hover {
            color: $orng;
         }
      }
   }

   &__info {
      @extend %flexbox;
      justify-content: space-between;

      &-text {
         max-width: 540px;

         p {
            font-weight: 700;
            font-size: 15px;
            line-height: 25px;
            color: $w;
            opacity: 0.5;

            &:first-child {
               font-weight: 500;
               margin-bottom: 56px;
            }
         }
      }

      &-social {

         ul {
            @extend %flexbox;
            gap: 16px;
         }
      }
   }

   &__social {

      &-icon {

         svg path {
            transition: fill .7s ease-in;

            &:hover {
               fill: $orng;
            }
         }
      }
   }
}