/*-----------------------------GLOBAL and INDEX media queries----------------------------*/
@media(max-width: 1120px) {


   .offersxx59,
   .offersxx99m1,
   .offersxx99m2,
   .offersyx1,
   .offerszx7,
   .offerszx9 {

      &__inner {

         &-cards {
            gap: 15px;
         }
      }

   }

   .offersxx99m2__inner-card:nth-child(1) .offersxx99m2__card-bg,
   .offersxx99m1__inner-card:nth-child(1) .offersxx99m1__card-bg,
   .offersxx59__inner-card:nth-child(1) .offersxx59__card-bg,
   .offersyx1__inner-card:nth-child(1) .offersyx1__card-bg,
   .offerszx7__inner-card:nth-child(1) .offerszx7__card-bg,
   .offerszx9__inner-card:nth-child(1) .offerszx9__card-bg {
      width: 300px;
   }

   .offersxx99m2__inner-card:nth-child(2) .offersxx99m2__card-bg,
   .offersxx99m1__inner-card:nth-child(2) .offersxx99m1__card-bg,
   .offersxx59__inner-card:nth-child(2) .offersxx59__card-bg,
   .offersyx1__inner-card:nth-child(2) .offersyx1__card-bg,
   .offerszx7__inner-card:nth-child(2) .offerszx7__card-bg,
   .offerszx9__inner-card:nth-child(2) .offerszx9__card-bg {
      width: 300px;
   }

   .offersxx99m2__inner-card:nth-child(3) .offersxx99m2__card-bg,
   .offersxx99m1__inner-card:nth-child(3) .offersxx99m1__card-bg,
   .offersxx59__inner-card:nth-child(3) .offersxx59__card-bg,
   .offersyx1__inner-card:nth-child(3) .offersyx1__card-bg,
   .offerszx7__inner-card:nth-child(3) .offerszx7__card-bg,
   .offerszx9__inner-card:nth-child(3) .offerszx9__card-bg {
      width: 300px;
   }
}



@media (max-width:1050px) {
   .wrapper {
      max-width: 1000px;
   }

   .container {
      max-width: 960px;
   }

   .header {

      &__topline {
         gap: 140px;
      }
   }

   .first {

      &__component {

         &-inner {
            background-position: bottom 0 left 100px, bottom 0 left -17px;
         }
      }
   }

   .thrd {
      &__component {

         &-bg {
            background-position: center;
         }
      }
   }

   .frth {
      &__component {

         &-inner {
            min-height: 525px;
            background-size: 50%;
         }
      }
   }
}

@media (max-width: 960px) {

   .wrapper {
      max-width: 920px;
   }

   .container {
      max-width: 890px;
   }

   .header {

      background-position: center;
   }

   .first {

      &__component {

         &-inner {
            padding-right: 55px;
            background-position: bottom 0 left 60px, bottom 0 left -57px;
         }
      }
   }

   .thrd {
      &__component {
         margin-bottom: 150px;
      }
   }

   .frth {
      &__component {
         margin-bottom: 150px;

         &-inner {
            min-height: 500px;
         }
      }
   }

   .checkout {

      &__info {
         flex-direction: column;
         align-items: center;
         gap: 32px;
      }

      &__details {
         width: 100%;
      }

      &__summary {
         width: 100%;
      }
      &__payment {

         &-vars{
            width: 100%;
         }
      }
   }
}

@media (max-width: 900px) {
   .wrapper {
      max-width: 860px;
   }

   .container {
      max-width: 800px;
   }

   .header {

      &__topline {
         gap: 90px;
      }
   }

   .first {

      &__component {

         &-inner {
            padding-right: 35px;
            background-position: bottom 0 left 30px, bottom 0 left -87px;
         }
      }
   }

   .frth {
      &__component {
         &-inner {
            min-height: 450px;
         }

         &-info {
            max-width: 400px;
         }
      }
   }

   .xx99mark2,
   .xx99mark1,
   .xx59,
   .zx9,
   .zx7,
   .yx1 {

      &__inner {
         gap: 90px;
      }
   }


}