.mb79 {
   margin-bottom: 79px;
}

.products__header {
   padding-top: 35px;
   background: #000;
}

.go__back {
   font-weight: 500;
   font-size: 15px;
   line-height: 25px;
   color: #000000;
   opacity: 0.5;
   margin-bottom: 56px;
}



.productxx59,
.productxx99m1,
.productxx99m2,
.productyx1,
.productzx7,
.productzx9 {

   &__inner {
      @extend %flexbox;
      gap: 125px;



      &-bg {
         width: 540px;
         height: 560px;
         background-position: center;
         border-radius: 8px;
      }

      &-card {
         width: 445px;

         h3 {
            @extend %products_title;
         }
      }

      &-txt {
         @extend %products_txt;
      }

      &-price {
         font-weight: 700;
         font-size: 18px;
         line-height: 25px;
         letter-spacing: 1.28571px;
         text-transform: uppercase;
         color: #000000;
         margin-bottom: 47px;
      }

      &-undertitle {
         @extend %products_undertitle;

      }


      &-counter {
         @extend %flexbox;
         gap: 16px;

         div {
            @extend %flexbox;
            justify-content: center;
            width: 120px;
            height: 48px;
            background: #F1F1F1;
            position: relative;
            font-weight: 700;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 1px;
            color: #000000;

            &::before {
               content: "-";
               position: absolute;
               left: 15px;
               top: 50%;
               transform: translateY(-50%);
               opacity: 0.25;
               cursor: pointer;
            }

            &::after {
               content: "+";
               position: absolute;
               right: 15px;
               top: 50%;
               transform: translateY(-50%);
               opacity: 0.25;
               cursor: pointer;
            }

         }
      }

      &-btn {
         @extend %orng_btn;
      }
   }
}


.describexx59,
.describexx99m1,
.describexx99m2,
.describeyx1,
.describezx7,
.describezx9 {


   &__product {


      &-inner {
         display: flex;
         gap: 125px;
      }


      &-features {
         width: 635px;

         h3 {
            font-weight: 700;
            font-size: 32px;
            line-height: 36px;
            letter-spacing: 1.14286px;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 32px;
         }

         p {
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            color: #000000;
            opacity: 0.5;
         }

         // p:nth-child(1){
         //    margin-bottom: 25px;
         // }
      }


      &-inbox {
         width: 350px;

         h3 {
            font-weight: 700;
            font-size: 32px;
            line-height: 36px;
            letter-spacing: 1.14286px;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 32px;
         }

         div {
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
         }

         p {
            display: inline;
            color: #000000;
            opacity: 0.5;

         }

         span {
            color: $orng;
            margin-right: 21px;
         }

         div+div {
            margin-top: 8px;
         }
      }
   }
}

.galleryxx59,
.galleryxx99m1,
.galleryxx99m2,
.galleryyx1,
.galleryzx7,
.galleryzx9 {

   &__product {


      &-inner {
         display: flex;
         gap: 32px;

         &>div:nth-child(1) {
            display: flex;
            flex-direction: column;
            gap: 32px;
         }
      }
   }

   &__first-img {
      width: 445px;
      height: 280px;
      background-position: center;
      background-size: cover;
   }

   &__second-img {
      width: 445px;
      height: 280px;
      background-position: center;
      background-size: cover;
   }

   &__third-img {
      width: 635px;
      height: 592px;
      background-position: center;
      background-size: cover;
   }
}



.offersxx59,
.offersxx99m1,
.offersxx99m2,
.offersyx1,
.offerszx7,
.offerszx9 {
   margin-bottom: 240px;

   &__inner {
      h3 {
         font-weight: 700;
         font-size: 24px;
         line-height: 33px;
         text-align: center;
         letter-spacing: 1.71429px;
         text-transform: uppercase;
         color: #000000;
         margin-bottom: 64px;
      }

      &-cards {
         display: flex;
         justify-content: center;
         gap: 30px;
      }


      &-card {
         max-width: 350px;
         @extend %flexbox;
         flex-direction: column;
      }
   }


   &__card {


      &-bg {
         margin-bottom: 40px;
      }


      &-title {
         font-weight: 700;
         font-size: 24px;
         line-height: 33px;
         letter-spacing: 1.71429px;
         text-transform: uppercase;
         color: #000000;
         margin-bottom: 32px;
      }


      &-button {
         @extend %orng_btn;
      }
   }
}

.offersxx99m2__inner-card:nth-child(1) .offersxx99m2__card-bg,
.offersxx99m1__inner-card:nth-child(1) .offersxx99m1__card-bg,
.offersxx59__inner-card:nth-child(1) .offersxx59__card-bg,
.offersyx1__inner-card:nth-child(1) .offersyx1__card-bg,
.offerszx7__inner-card:nth-child(1) .offerszx7__card-bg,
.offerszx9__inner-card:nth-child(1) .offerszx9__card-bg,
.offersxx99m2__inner-card:nth-child(2) .offersxx99m2__card-bg,
.offersxx99m1__inner-card:nth-child(2) .offersxx99m1__card-bg,
.offersxx59__inner-card:nth-child(2) .offersxx59__card-bg,
.offersyx1__inner-card:nth-child(2) .offersyx1__card-bg,
.offerszx7__inner-card:nth-child(2) .offerszx7__card-bg,
.offerszx9__inner-card:nth-child(2) .offerszx9__card-bg,
.offersxx99m2__inner-card:nth-child(3) .offersxx99m2__card-bg,
.offersxx99m1__inner-card:nth-child(3) .offersxx99m1__card-bg,
.offersxx59__inner-card:nth-child(3) .offersxx59__card-bg,
.offersyx1__inner-card:nth-child(3) .offersyx1__card-bg,
.offerszx7__inner-card:nth-child(3) .offerszx7__card-bg,
.offerszx9__inner-card:nth-child(3) .offerszx9__card-bg {
   width: 350px;
   height: 318px;
   background-position: center;
   border-radius: 8px;
}