.zx9 {

   &__inner {

      &-bg {
         background-image: url(../images/speakers/xz9-img.png);
         background-position: center;
      }
   }
}

.zx7 {

   &__inner {

      &-bg {
         background-image: url(../images/speakers/zx7-img.png);
         background-position: center;
      }
   }
}